*{
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  color: white;
}

.title{
  text-align: center;
  font-size: 13vW;
}

.choice, .choiceMade{
  font-size: 13vw;
  border-radius: 1500px;
  text-align:  center;
  padding: 100px;
  margin: auto 0;
}
.choice:hover{
  background-color: #E5443B;
  color: #111111  !important;
  cursor: pointer;
}
.label p{
  font-size: 3vw;
}
.text-center{
  text-align: center;
}
.container-choice{
  width: 80%;
  margin-left: 10%;
}

.score {
  width: 100%;
  text-align: center;
  font-size: 5vw;
}
#reset{
  font-size: 3vw;
}
#reset:hover{
  cursor: pointer;
}
body{
  background-color: #BE312A;
  height: auto;
}
footer{
  font-size:  4vw;
  text-align:  center;
}
.Result{
  transform : rotate(45deg);
  font-size: 12vw;
  position:absolute;
  float: right;
  width: 100%;
  text-align: center;
  visibility: hidden;
}
.container-game-on{
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

@media (max-width: 543px) {
  .container-choice{
    width: 60%;
    margin-left: 20%;
  }
}
